@media (max-width: 991.98px) {
  .cv-left h1, .cv-left h2, .cv-left h3,
  .cv-left h4, .cv-left h5, .cv-left h6 {
    font-size: 1.3rem;
  }
  .cv-left ul {
    line-height: 150%;
  }
}

@media (max-width: 575.98px) {
  .container {
    margin-bottom: 0;
  }
   .body-bg .cv {
    margin-top: 0;
  }
  .photo-block img {
    display: block;
    max-width: 50%;
    margin: 20px auto;
  }
}