%IBMPlexSerif-400 {
  font-family: 'IBMPlexSerif-Regular', sans-serif;
  font-weight: 400;
}

%IBMPlexSerif-700 {
  font-family: 'IBMPlexSerif-Bold', sans-serif;
  font-weight: 700;
}
%Roboto-400 {
  font-family: 'Roboto-ThinItalic', sans-serif;
  font-weight: 400;
}
%Roboto-400 {
  font-family: 'Roboto-Regular', sans-serif;
  font-weight: 400;
}
%Roboto-700 {
  font-family: 'Roboto-Bold', sans-serif;
  font-weight: 700;
}

